
<div class="d-flex flex-column col-lg-4 col-12 menu-rigth text-center justify-content-center align-items-center w-100">
    {{ form_start(form) }}
    <h1 class="text-secondary">Ajouter</h1>
    <div class="d-flex flex-column text-center justify-content-center align-items-center h-100 w-100">
        <div class="card text-center shadow w-100">
            <div class="card-header w-100">
                <div class="form-control shadow-sm font-form">
                    <div class="text-danger">
                        {{ form_errors(form.pictureFile) }}
                    </div>
                    {{ form_label(form.pictureFile, 'Photo') }}
                    {{ form_widget(form.pictureFile) }}

                    <div class="text-danger">
                        {{ form_errors(form.lastname) }}
                    </div>
                    {{ form_label(form.lastname, 'Nom') }}
                    {{ form_widget(form.lastname) }}

                    <div class="text-danger">
                        {{ form_errors(form.firstname) }}
                    </div>
                    {{ form_label(form.firstname, 'Prénom') }}
                    {{ form_widget(form.firstname) }}

                    <div class="mt-2">
                        {{ form_label(form.cursus, 'Classe') }}
                        {{ form_widget(form.cursus) }}
                    </div>
                    <div class="text-danger">
                        {{ form_errors(form.city) }}
                    </div>
                    {{ form_label(form.city, 'Ville') }}
                    {{ form_widget(form.city) }}
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column">
        <button class="btn btn-secondary btn-cs mx-auto mt-3" type="submit">
            {{ button_label|default('Ajouter') }}
        </button>
        <a class="btn btn-color btn-css mx-auto mt-3" href="{{ path('app_logout') }}">Déconnection</a>
    </div>
    {{ form_end(form) }}
</div>
