<h1>Ma liste d'élève</h1>

<table class="table">
    <thead>
    <tr>

        <th>Lastname</th>
        <th>Firstname</th>
        <th>Picture</th>

        <th>School_name</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
        <tr>

            <td>{{ student.lastname }}</td>
            <td>{{ student.firstname }}</td>
            <td>{{ student.picture }}</td>

            <td>{{ student.schoolName }}</td>
            <td>
                <a class="text-dark" href="{{ path('student_show', {'id': student.id}) }}">show</a>
                {{ include('student/_delete_form.html.twig') }}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
