{% extends 'base.html.twig' %}

{% block title %}Ecoles{% endblock %}

{% block body %}
    <div class="container-fluid h-100">
        <div class="d-flex flex-column-reverse flex-lg-row page h-100">
            <div class="d-flex flex-column col-lg-4 col-12 menu-rigth
             text-center justify-content-center align-items-center school-phone">
                <div class="card h-50 shadow p-3 w-75 round">
                    <div class="col h-75 d-flex align-items-center justify-content-center
                     flex-column font-form w-100" style="border-radius: 30px">
                        <div class="col-md-5">
                            <img class="img-fluid" src="{{ asset('uploads/' ~ student.picture) }}"
                                 alt="Photo de profil" style="border-radius:20px; max-height: 150px">
                        </div>
                        <div class="col-md-7">
                                <h3 class="card-title text-center">{{ student.lastname }} {{ student.firstname }}</h3>
                                <h5 class="card-title">{{ student.cursus.name }}</h5>
                                <p>
                                    <span class="card-text">{{ student.city }}</span>
                                    <span class="card-text fw-bold" style="color:#D56F3E">
                                        {% if(student.longitude == 0) %} Ville inconnue {% endif %}
                                    </span>
                                </p>
                                <p class="card-text">
                                    {% if student.schoolId is not null %}
                                        <a class="text-secondary fw-bold"
                                           href="{{ path('school_show',{'id':student.id,'school':student.schoolId }) }}">
                                            {{ student.schoolName }}
                                        </a>
                                    {% endif %}
                                </p>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column w-100">
                    <a class="btn btn-secondary btn-css mx-auto mt-3" href="{{ path('student_index') }}">Retour</a>
                    <a class="btn btn-color btn-css mx-auto mt-3" href="{{ path('app_logout') }}">Déconnection</a>
                </div>
            </div>
            <div class="d-flex col-lg-8 vh-100 overflow-scroll">
                <div class="d-flex flex-column col-11 m-auto">
                    <h1 class="text-center text-primary">Liste des écoles</h1>
                    {% for school in schools.records %}
                        <div class="col-sm-12 mb-3">
                            <div class="card h-100 shadow p-3 font-form" style="border-radius: 30px; border: #FFFFFF solid 4px">
                                <div class="row">
                                    <h3 class="card-title text-center">{{ school.fields.nom_etablissement }}</h3>
                                    <a class="btn btn-primary btn-cs mt-1 w-25 mx-auto"  style="font-size:1.2rem"
                                       href="{{ path('school_show',
                                           {'id':student.id,'school':school.fields.identifiant_de_l_etablissement}) }}">
                                        Voir la fiche
                                    </a>
                                    <span class="position-absolute dist">
                                        {% if(school.fields.dist/1000)|round(0,'floor') == 0 %}
                                            {{ school.fields.dist|round }}&nbsp; m
                                        {% else %}
                                            {{ (school.fields.dist/1000)|round(2, 'floor')}}&nbsp; km
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <h4>Pas d'école trouvée</h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
