{% extends 'base.html.twig' %}

{% block title %}Ecoles{% endblock %}

{% block body %}
    <div class="container-fluid" style="height:100vh">
        <div class="row page">
            <div class="col-4 menu-rigth text-center">
{#                {% include 'student/_form.html.twig' %}#}
            </div>
            <div class="col-8 menu-left">
                <h1>Ma liste d'école</h1>

                <table class="table">
                    <thead>
                    <tr>

                        <th>Ecoles</th>
                        <th></th>
                        <th>Picture</th>

                        <th>School_name</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ dump(schools) }}
                    {% for school in schools.records %}
                        <tr>

                            <td>{{ school.fields.nom_etablissement }}</td>
                            {#            <td>{{ student.firstname }}</td>#}
                            {#            <td>{{ student.picture }}</td>#}

                            {#            <td>{{ student.schoolName }}</td>#}
                            <td>
                                <a class="text-dark" href="{{ path('school_show',{'id':student.id,'school':school.fields.identifiant_de_l_etablissement}) }}">Voir la fiche</a>

                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Pas d'écoles disponible</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>-
    </div>
{% endblock %}
